.navbar {
	#bs > .navbar;
	#bs > .navbar-default;
	#bs > .navbar-fixed-top;
}

.banner {
	#bs > .jumbotron;
}

.main {
	#bs > .row;
}

.board {
	#bs > .make-md-column(8);
	#bs > .make-md-column-offset(2);
	border: 1px solid;
}

.container {
	#bs > .container;
}

body {
	margin: 0;
	padding-top: 50px;
}