#note-stack {
	
	@media (min-width: @screen-sm) {
		width: percentage(@note-board-width-ratio / @panel-board-width-ratio);
		margin: 24px auto;
	}

	@media (max-width: @screen-sm) {
		width: @board-max-width * @note-board-width-ratio;
		display: inline-block;
		margin: 0 24px;
	}
}

.note {	
	@media (min-width: @screen-md) {
		width: @board-min-width * @note-board-width-ratio;
	}
	
	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		width: @board-normal-width * @note-board-width-ratio;
	}

	@media (max-width: @screen-sm) {
		width: @board-max-width * @note-board-width-ratio;
	}

	.ratio(1, 1);
	position: relative;
	overflow: hidden;
	background-color: @yellow;
}
