.palette {
	a {
		min-width: 50px;
		min-height: 50px;
		&.palette-red {
	  		background-color: @red;
	  		&:hover {
	  			background-color: @red;
	  		}
	  	}
	  	&.palette-blue {
	  		background-color: @blue;
	  		&:hover {
	  			background-color: @blue;
	  		}
	  	}
	  	&.palette-black {
	  		background-color: @black;
	  		&:hover {
	  			background-color: @black;
	  		}
	  	}
	}
}