.palette {
	a {
		&.palette-red {
	  		background-color: @red;
	  		&:hover {
	  			background-color: darken(@red, 10%);
	  		}
	  	}
	  	&.palette-blue {
	  		background-color: @blue;
	  		&:hover {
	  			background-color: darken(@blue, 10%);
	  		}
	  	}
	  	&.palette-black {
	  		background-color: @black;
	  		&:hover {
	  			background-color: darken(@black, 10%);
	  		}
	  	}
	  	&.palette-green {
	  		background-color: @green;
	  		&:hover {
	  			background-color: darken(@green, 10%);
	  		}
	  	}
	  	&.palette-stroke {
	  		background-color: white;
	  		&:hover {
	  			background-color: darken(white, 10%);
	  		}
	  	}	  	
	}
}