.panel {
	 .note {
		.centering;
	}

	@media (min-width: @screen-sm) {
		width: @board-min-width * @panel-board-width-ratio;
		margin-right: -(@board-min-width * @panel-board-width-ratio);
		.fixed-right;
		&.expand {
			margin-right: 0;
		}
		.palette-fixed-right;
		.panel-handle-fixed-right;
	}

	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		width: @board-normal-width * @panel-board-width-ratio;
		margin-right: -(@board-normal-width * @panel-board-width-ratio);
		&.expand {
			margin-right: 0;
		}
	}

	@media (max-width: @screen-sm) {
		height: @board-max-width * @panel-board-width-ratio;
		margin-bottom: -(@board-max-width * @panel-board-width-ratio);
		.fixed-bottom;
		&.expand {
			margin-bottom: 0;
		}
		.palette-fixed-bottom;
		.panel-handle-fixed-bottom;
	}

	background-color: gray;
}

.palette-fixed-right {
	.palette {
		position: absolute;			
		height: 100%;
		width: @panel-width;
		margin-left: -(@panel-width + @panel-handle-width);
		.palette-item {
			.palette-item(100%, 20%);
		}
	}
}

.palette-fixed-bottom {
	.palette {
		position: absolute;	
		width: 100%;
		height: @panel-height;
		margin-top: -((@panel-height + @panel-handle-height) * @panel-board-width-ratio);
		.palette-item {
			.palette-item(20%, 100%);
		}
	}
}

.panel-handle-fixed-right {
	.panel-handle {
		position: absolute;
		height: 100%;
		width: @panel-handle-width;
		margin-left: -(@panel-handle-width);
		.panel-trigger('right', 24px);
	}
}

.panel-handle-fixed-bottom {
	.panel-handle {
		position: absolute;
		height: @panel-handle-height;
		width: 100%;
		margin-top: -(@panel-handle-width * @panel-board-width-ratio);
		.panel-trigger('down', 24px);
	}
}

.palette-item (@width, @height) {
	float: left;
	height: @height;
	width: @width;
}

.panel-trigger (@direction, @size) when (@direction = 'right') {
	font-size: @size;
	.icon {
		.icon-angle-right;
	}
	background-color: #E6E6E6;
	&:hover {
		background-color: darken(#E6E6E6, 10%);
	}
}

.panel-trigger (@direction, @size) when (@direction = 'down') {
	font-size: @size;
	.icon {
		.icon-angle-down;
	}
	background-color: #E6E6E6;
	&:hover {
		background-color: darken(#E6E6E6, 10%);
	}
}