  .rubbishbin {
    #bs > .make-md-column(1);
    padding: 0;
    z-index: -1;
    position: relative;
  }

  .rubbishbin-collapse
  {
    -webkit-transition: all 0.2s ease-in-out;
  }

  .rubbishbin-expand
  {
    margin-left: -(percentage((1 / 12)));
    background-color: red;
    -webkit-transition: all 0.2s ease-in-out;
  }

  #modal .rubbishbin-collapse
  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 250px;
    -webkit-transition: all 0.2s ease-in-out;
  }

  #modal .rubbishbin-expand
  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 250px;
    background-color: red;
    -webkit-transition: all 0.2s ease-in-out;
  }