  #board .rubbishbin-collapse
  {
    float:right;
    width: 10px;
    height: 700px;
    -webkit-transition: all 0.2s ease-in-out;
  }

  #board .rubbishbin-expand
  {
    float:right;
    width: 100px;
    height: 700px;
    background-color: red;
    -webkit-transition: all 0.2s ease-in-out;
  }

  #modal .rubbishbin-collapse
  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 250px;
    -webkit-transition: all 0.2s ease-in-out;
  }

  #modal .rubbishbin-expand
  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 250px;
    background-color: red;
    -webkit-transition: all 0.2s ease-in-out;
  }