@screen-md: 992px;
@screen-sm: 768px;

@board-min-width: unit(@screen-sm/@screen-md*100, vw);
@board-normal-width: @screen-sm;
@board-max-width: 100vw;

@panel-board-width-ratio: (1 / 4);

@panel-width: 20%;
@panel-height: 20%;

@panel-handle-width: 15%;
@panel-handle-height: 15%;


@note-board-width-ratio: (1 / 6);

@zindex-navbar: 1000;
@navbar-height: 50px;
@navbar-default-bg: #f8f8f8;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);

@icon-font-path: "../fonts/";
@icon-font-name: "glyphicons-halflings-regular";

@red: #E74C3C;
@blue: #3498DB;
@black: #34495E;
@green: #2ECC71;
@yellow: #FFFFAA;

