require.config({
	baseUrl: "scripts",
	paths: {
		<% paths.forEach(function(path){ %>
			<%= path %>
		<% }); %>
		Kinetic: '../../lib/kinetic/kinetic-v4.6.0',
		uuid: '../../lib/uuid/uuid',
	},
	urlArgs: "bust=" + (new Date()).getTime(),
	shim: {
			'uuid': {
				exports: 'UUID',
			},
	}
});